<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @kid.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @kid.last_name %>
</p>

<%= link_to 'Edit', edit_kid_path(@kid) %> |
<%= link_to 'Back', kids_path %>

