<p id="notice"><%= notice %></p>

<h1>All Edits Made</h1>

<table>
  <thead>
    <tr>
      <th>Edit Date</th>    
      <th>Daycare</th>
      <th>Student Edited</th>
      <th>Edited By</th>
      <th>Rationale</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rationales.each do |rationale| %>
      <tr>
        <td><%= rationale.created_at %></td>
        <td><%= rationale.user.daycare_location %></td>
        <td><%= rationale.child_name %></td>
        <td><%= rationale.full_name %></td>
        <td><%= rationale.rational %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<style>
td
{
    padding:5px 20px 5px 20px;
}
th
{
    padding:0 20px 0 20px;
}
</style>


<%= link_to 'Back', kids_path %>